{
	"env": {
		"browser": true,
		"es2021": true,
		"node": true
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"plugins": ["react", "react-hooks", "@next/next", "@typescript-eslint"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:playwright/playwright-test",
		"plugin:react/recommended",
		"plugin:react-hooks/recommended",
		"plugin:@next/next/recommended",
		"prettier"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 12,
		"sourceType": "module"
	},
	"ignorePatterns": ["src/assets/**", "node_modules/**", "prisma/schemas/**"],
	"overrides": [
		{
			// Specific rules for scripts
			"files": ["scripts/**"],
			"rules": {
				"no-console": "off"
			}
		},
		{
			// Specific rules for tests
			"files": ["tests/**"],
			"rules": {
				"no-console": "off"
			}
		}
	],
	"rules": {
		// base
		"no-warning-comments": "warn",
		"no-console": ["error", { "allow": ["warn", "error", "debug"] }],
		// react
		"react/react-in-jsx-scope": "off",
		"react/prop-types": "off",
		"react-hooks/exhaustive-deps": [
			"warn",
			{
				"additionalHooks": "(useDebouncedEffect|useEffectWithTransition)"
			}
		],
		// typescript
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"@typescript-eslint/no-empty-function": "off",
		"@typescript-eslint/no-unused-vars": [
			"warn",
			{
				"ignoreRestSiblings": true
			}
		],
		// playwright
		"playwright/no-element-handle": "off"
	}
}
